#billerBox .stickyBefore {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  background:white;
}

#members td {
  padding-top:5px;
  padding-bottom:5px;
}

#membersBox .stickyBefore {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  background: white;
}

#cities .td-1 {
  max-width:4em;
  width:4em
}

.nav-tabs a {
  color:grey;
}

.nav-tabs a:hover {
  color:black;
}

.nav-tabs a.active {
  color:black;
  font-weight:bold
}

#members .group-0 {
  display:none;
}

#members .group-col {
  border-bottom:1px solid darkgreen;
}

#members .td-1 {
  max-width:20em;
  width:20em
}

#configTab .td-1 {
  max-width:20em;
  width:20em;
}

#configTabFinances td {
  font-family:Calibri;
  font-size:0.9em;
  padding-top:3px;
  padding-bottom:3px;
}
